<li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6">
  <div class="flex gap-x-4">
    <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src=<%= "https://openweathermap.org/img/wn/#{weather_report.icon}@2x.png" %>>
    <div class="min-w-0 flex-auto">
      <p class="text-sm font-semibold leading-6 text-gray-900">
        <span class="absolute inset-x-0 -top-px bottom-0"></span>
        <%= weather_report.city %>
      </p>
      <p class="mt-1 flex text-xs leading-5 text-gray-500">
        <span class="relative truncate"><%= weather_report.condition %></span>
      </p>
    </div>
  </div>
  <div class="flex items-center gap-x-4">
    <div class="hidden sm:flex sm:flex-col sm:items-end">
      <p class="text-sm leading-6 text-gray-900"><%= weather_report.temperature_to_degrees %></p>
      <p class="mt-1 text-xs leading-5 text-gray-500"><time datetime="2023-01-23T13:23Z"><%= weather_report.time_ago %></time></p>
    </div>
  </div>
</li>
