<!DOCTYPE html>
<html>
  <head>
    <title>WhatsTheWeather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen bg-gray-100">
    <header>
    </header>
    <div class="flex h-screen">
      <aside class="w-80">
        <%= render "shared/navbar" %>
      </aside>
      <main class="flex-1 flex justify-center items-center">
        <div class="flex-1 h-screen mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <%= turbo_frame_tag "modal" %>
          <%= yield %>
        </div>    
      </main>
    </div>
  </body>
</html>
